# Loading data
- Initially, I had multiple datasets containing lists of only ad servers and non-ad servers. I combined them all to create a dataset 'all.csv'.
- Since all.csv had multiple overlapping entries, I deleted the duplicates and saved it as another file 'all-without-duplicates'
```
df = pd.read_csv("../lists/all.csv",converters={'domain': convert_dtype,'class': convert_dtype}) 
df = df.drop_duplicates()
df.to_csv('../lists/all-without-duplicates.csv')

```

In [28]:
import pandas as pd
#Convert dtypes for fixing Dtypewarning
# https://www.roelpeters.be/solved-dtypewarning-columns-have-mixed-types-specify-dtype-option-on-import-or-set-low-memory-in-pandas/
def convert_dtype(x):
    if not x:
        return ''
    try:
        return str(x)   
    except:        
        return ''

df = pd.read_csv("../lists/all-without-duplicates.csv",converters={'domain': convert_dtype,'class': convert_dtype}) # Dataset is now stored in a Pandas Dataframe
#df = df.drop_duplicates()
#df.to_csv('../lists/all-without-duplicates.csv')
df

         Unnamed: 0                domain class
0                 0            google.com     1
1                 1           youtube.com     1
2                 2          facebook.com     1
3                 3         amazonaws.com     1
4                 4           netflix.com     1
...             ...                   ...   ...
1527920     2638414        slview.psne.jp     0
1527921     2638416       x.vipergirls.to     0
1527922     2638417  x0r.urlgalleries.net     0
1527923     2638418   yotta.scrolller.com     0
1527924     2638419      ytre9jk.txxx.com     0

[1527925 rows x 3 columns]